.corpo {
    height: 100vh;
}

.principal, .curriculo {
    height: 93vh;
}

.curriculo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.curriculo_nome {
    font-size: 60px;   
}

.curriculo_dados {
    font-size: 20px;
    line-height: 28px;
}

.tabela_titulo {
    font-size: 48px;
    padding: 15px;
}

table {
    box-shadow: 10px 10px greenyellow;
}

table, thead {
    border: 1px solid navy;
    width: 1200px;
}

thead {
    background: navy;
    color: white;
}

.linha {
    height: 80px;
}

tr, .coluna{
    border: 1px solid navy;
    column-span: 3;
}

td, th {
    padding: 10px;
}

td {
    text-align: center;
    vertical-align: middle;
}