.cabecalho {
    background: navy;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.cabecalho_link {
    display: flex;
    justify-content: space-between;
    width: 420px;
}

.links {
    text-decoration: none;
    color: white;
}

.links:hover {
    color: red;
}