.principal {
    padding: 20px 0;
    height: 93vh;
}

.dados {
    height: 91vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container_historia {
    display: flex;
    align-items: center;
    width: 60vw;
    justify-content: space-between;
}

.principal_imagem {
    border-radius: 100%;
    border: 5px solid navy;
}

.historia {
    font-weight: bold;
    font-size: 42px;
}

.p_historia {
    font-size: 20px;
}

table {
    box-shadow: 10px 10px greenyellow;
}

table, thead {
    border: 1px solid navy;
    width: 1200px;
}

thead {
    background: navy;
    color: white;
}

tr {
    border: 1px solid navy;
}

td, th {
    padding: 5px;
}

td {
    text-align: center;
    vertical-align: middle;
}

.container_materia td {
    padding: 10px;
}