.corpo {
    height: 100vh;
}

.principal {
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.principal_titulo {
    font-size: 48px;
    text-align: center;
    font-weight: 700;
}

.valores {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.valores_container {
    border: 3px solid navy;
    box-shadow: 10px 10px greenyellow;
    height: 600px;
    width: 350px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.valores_container:hover {
    box-shadow: 10px 10px red;
    height: 601px;
    width: 351px;
}

.valores_titulo {
    font-weight: 700;
    font-size: 24px;
}

.valores_real {
    font-size: 64px;
    font-weight: 700;
}

.valores_descricao {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.valores_botao {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: greenyellow;
    font-weight: 700;
    cursor: pointer;
}

.botao_link {
    text-decoration: none;
    color: black;
}